// ================================================================
// 共通
// ================================================================

// 透過度
$opacity: 0.6;

// フォーム
$cr-outline: rgba(112, 112, 112, 1);
$cr-outline-on: rgba(112, 112, 112, 1);
$cr-check: #333;

// ================================================================
// プロジェクト
// ================================================================

// フォントカラー
$cr-font-base: #3e3e3e;
$cr-font-white: #fff;

// キーカラー
$cr-green: #41b883;
$cr-black: #35495e;
$cr-white: #fff;
