.cards {
  max-width: calc(500px + 20px);
  margin: 40px auto;
  width: 80%;

  @include mq("tab") {
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
    background-color: $cr-black;
  }

  &_item {
    position: relative;
    perspective: 150rem;
    width: 100%;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &_close {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: 0.5s;
    background-color: $cr-green;
    backface-visibility: hidden;

    &.js-isOpen {
      transform: rotateY(-180deg);
    }

    &:hover {
      background-color: lighten($color: $cr-green, $amount: 15%);
    }
  }

  &_open {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: 0.5s;
    background-color: #fff;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    &.js-isOpen {
      transform: rotateY(0);
    }
  }

  &_number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
}
