.header {
  // display: flex;
  // justify-content: center;

  &_inner {
    margin-top: 40px;
  }

  &_title {
    text-align: center;
    font-size: 3.8rem;
    color: $cr-green;
    text-shadow: 1px 1px 1px lighten($cr-black, 20%);

    @include mq("tab") {
      font-size: 6.4rem;
      margin-left: -10px;
      text-shadow: 3px 3px 3px lighten($cr-black, 20%);
    }
  }

  &_info {
    margin-top: 10px;
    text-align: center;
    color: $cr-black;

    @include mq("tab") {
      font-size: 2rem;
    }
  }
}
