.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.8);

  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: #fff;
    border-radius: 5px;
  }

  &_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &_Btn {
    display: block;
    padding: 3px 0;
    margin: 10px auto 0;
    width: 120px;
    background-color: $cr-red;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: lighten($cr-red, 10%);
    }

    @include mq("tab") {
      padding: 8px 0;
      margin: 30px auto 0;
    }

    &-reverse {
      background-color: #fff;
      color: $cr-red;
      border: 2px solid $cr-red;

      &:hover {
        background-color: $cr-red;
        color: #fff;
      }
    }
  }

  &_praise {
    color: $cr-red;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    @include mq("tab") {
      font-size: 5rem;
    }
  }

  &_msg {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;

    @include mq("tab") {
      font-size: 1.6rem;
      margin-top: 20px;
    }
  }
}
